# Build artifacts
build/
*.o
*.a
*.so

# Packages and installers
*.deb
*.qsi
qsi_setup/deb_packages/*.deb
!qsi_setup/deb_packages/.gitkeep
qsi_setup/output/*.qsi
!qsi_setup/output/.gitkeep
qsi_setup/qinstaller

# Binaries from sub-libs examples
libs/http/example/tqthttp_example
libs/json/example/tqtjson_example

# Editor & System
.directory
.DS_Store
*.swp
*~
*.bak
.cache/
.vscode/
